.cache
.idea
.vs
out

/build
/builddir
/build-*

/subprojects/glfw-*
/subprojects/imgui-*
/subprojects/sdl2-*
/subprojects/freetype-*
/subprojects/libpng-*
/subprojects/packagecache

*.swp
*.bak
*.tmp
.DS_Store