.cache
.idea
.vs
out

build/
build-msvc/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

AUR/clrsync-git
AUR/pkg
AUR/src

result
result-*
.direnv/

*.log
*tar.zst
*tar.gz

*.swp
*.bak
*.tmp
.DS_Store

*.swp
*.swo
*~

*.o
*.a
*.so
*.dylib
